<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>Elections muncipales de Rennes 2020 - Comparateur de programmes</title>
    <meta name="description" content="Comparer les programmes des candidates à l'élection muncipale de Rennes 2020">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">Vous utilisez un navigateur <strong>obsolète</strong>. Merci de le <a href="https://browsehappy.com/">mettre à jour</a>.</p>
    <![endif]-->

    <nav class="main-nav">
        <div class="navbar-header"><b>ÉLECTIONS MUNICIPALES Rennes 2020</b>&nbsp;&bull; Comparateur de programmes</div>
        <div class="copyright">Réalisé citoyennement par <a href="https://www.vincentogloblinsky.com"
                target="_blank">Vincent
                Ogloblinsky</a>&nbsp;&bull; Copyright 2020</div>
    </nav>

    <main>
        <nav class="second-nav">
            <select class="thematiques-selector">
                <option value="">Toutes les thématiques</option>
                {{#each alldata.thematiques}}
                <option value="{{this.label}}">
                    {{this.label}}
                </option>
                {{/each}}
            </select>
            <select class="thematiques-selector">
                <option value="">Toutes les sous-thématiques</option>
                {{#each alldata.sousthematiques}}
                <option value="{{this.label}}">
                    {{this.label}}
                </option>
                {{/each}}
            </select>
        </nav>

        <div class="main-container">
            <ul>
                {{#each alldata.candidats}}
                {{#if this.liste}}
                <li>
                    {{this.liste}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </main>

    <script src="scripts/index.js" async></script>

</body>

</html>