<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>Elections muncipales de Rennes 2020 - Comparateur de programmes</title>
    <meta name="description" content="Comparer les programmes des candidates à l'élection muncipale de Rennes 2020">
    <meta name="author" content="Vincent Ogloblinsky" />
    <meta name="generator" content="Vincent Ogloblinsky" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">Vous utilisez un navigateur <strong>obsolète</strong>. Merci de le <a href="https://browsehappy.com/">mettre à jour</a>.</p>
    <![endif]-->

    <div class="nav-container">
        <nav class="main-nav">
            <div class="navbar-header">
                <span class="main-title">
                    <b>ÉLECTIONS MUNICIPALES</b>
                </span>
                <span><b>Rennes 2020</b></span>
                <span class="bull">&bull;</span>
                <span>Comparateur de programmes</span>
            </div>
            <div class="copyright">Réalisé citoyennement par <a href="https://www.vincentogloblinsky.com"
                    target="_blank">Vincent
                    Ogloblinsky</a>&nbsp;&bull; &copy; 2020</div>
        </nav>

        <nav class="second-nav">
            <div>
                <select class="thematiques-selector">
                    <option value="">Toutes les thématiques</option>
                    {{#each alldata.thematiques}}
                    <option value="{{this.label}}">
                        {{this.label}}
                    </option>
                    {{/each}}
                </select>
                <select class="thematiques-selector">
                    <option value="">Toutes les sous-thématiques</option>
                    {{#each alldata.sousthematiques}}
                    <option value="{{this.label}}">
                        {{this.label}}
                    </option>
                    {{/each}}
                </select>
            </div>
            <div class="second-nav__right">
                <div class="button disabled" data-direction="-1">
                    <ion-icon name="ios-arrow-back"></ion-icon>
                </div>
                <div class="button" data-direction="1">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                </div>
            </div>

        </nav>
    </div>

    <main class="main-container">
        <div class="candidats-wrapper">
            {{#each alldata.candidats}}
            {{#if this.liste}}
            <article>
                <header>
                    <figure class="avatar">
                        <img src="assets/{{this.id}}.jpg">
                    </figure>
                    <div class="candidat-infos">
                        <span class="liste">
                            {{this.liste}}
                        </span>
                        <span class="tetes">
                            {{#compare this.tetes.length 1 operator=">"}}
                            {{this.tetes.0.prenom}} {{this.tetes.0.nom}}<br />
                            {{this.tetes.1.prenom}} {{this.tetes.1.nom}}
                            {{else}}
                            {{this.tetes.0.prenom}} {{this.tetes.0.nom}}
                            {{/compare}}
                        </span>
                    </div>
                </header>
                <div class="candidat-content"></div>
            </article>
            {{/if}}
            {{/each}}
        </div>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@4.6.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.6.3/dist/ionicons/ionicons.js"></script>
    <script src="scripts/index.js" defer></script>

</body>

</html>