<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>Elections muncipales de Rennes 2020 - Comparateur de programmes</title>
    <meta name="description" content="Comparer les programmes des candidates à l'élection muncipale de Rennes 2020">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">Vous utilisez un navigateur <strong>obsolète</strong>. Merci de le <a href="https://browsehappy.com/">mettre à jour</a>.</p>
    <![endif]-->

    <div class="nav-container">
        <nav class="main-nav">
            <div class="navbar-header">
                <span class="main-title">
                    <b>ÉLECTIONS MUNICIPALES</b>
                </span>
                <span><b>Rennes 2020</b></span>
                <span class="bull">&bull;</span>
                <span>Comparateur de programmes</span>
            </div>
            <div class="copyright">Réalisé citoyennement par <a href="https://www.vincentogloblinsky.com"
                    target="_blank">Vincent
                    Ogloblinsky</a>&nbsp;&bull; &copy; 2020</div>
        </nav>

        <nav class="second-nav">
            <select class="thematiques-selector">
                <option value="">Toutes les thématiques</option>
                {{#each alldata.thematiques}}
                <option value="{{this.label}}">
                    {{this.label}}
                </option>
                {{/each}}
            </select>
            <select class="thematiques-selector">
                <option value="">Toutes les sous-thématiques</option>
                {{#each alldata.sousthematiques}}
                <option value="{{this.label}}">
                    {{this.label}}
                </option>
                {{/each}}
            </select>
        </nav>
    </div>

    <main class="main-container">
        <ul>
            {{#each alldata.candidats}}
            {{#if this.liste}}
            <li>
                {{this.liste}}
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </main>

    <script src="scripts/index.js" defer></script>

</body>

</html>